html, body {
        padding: 0;
        margin: 0;    
    }
    body {
        background-color: #fff;
        color: rgba(0, 0, 0, 0.5);
    }
    body.is-loading:after {
            visibility: hidden;
            opacity: 0;
        }

        body:after {
            -moz-pointer-events: none;
            -webkit-pointer-events: none;
            -ms-pointer-events: none;
            pointer-events: none;
            -moz-transition: opacity 1.5s ease-in-out, visibility 1.5s;
            -webkit-transition: opacity 1.5s ease-in-out, visibility 1.5s;
            -ms-transition: opacity 1.5s ease-in-out, visibility 1.5s;
            transition: opacity 1.5s ease-in-out, visibility 1.5s;
            content: '';
            /*background-image: url(../images/Lovely.png);*/
            background-attachment: fixed;
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            position: fixed;
            display: block;
            top: 0;
            left: 0;
            height: 100%;
            width: 100%;
            z-index: -1;
            visibility: visible;
            opacity: 1;
        }
    h1{
        color:white;
        font-size: 80px;
        text-align: center;
    }
    #container {
        width: 800px;
        height: 100px;
        margin: 0 auto;
        display: block;
        position: relative;
        /*border-style: double;*/
        border: 1px solid darkolivegreen;
        background-color:white;
        /*margin: 30px 50px 30px 50px;*/
        /*border: 2px solid #00A;*/
    }

    #status-box {
        text-align: right;
        font-size: .6em;
    }
 
    #content {
        width: 100%;
        height: 25px;
        border-radius: 100px;
        overflow: auto;
    }
 
    input[type="button"] {
        width: 8%;
        text-align: center;
        margin-bottom: :100px;

    }
    div[id = "logout_button"]{
        width: 2000%;
        height: 80%;
        text-align: center;
    }

    