<!DOCTYPE html>
<html lang="zh">
{% load  staticfiles %}
<head>
    <meta charset="UTF-8">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Week2Example留言板</title>
    <link href="{% static 'css/style.css' %}" rel="stylesheet" type="text/css" />
    
</head>
<body>
    <h1>Hi，this is today what jack what to do</h1>
    <h2>the basic of html and css<br>
        I should be more hard work<br>
        what i've done : 1.insert picture of calculus formula 2.insert background 3. changing some attribute in single world with css<br>
    </h2>
    <p id="ta">by劉正宇<br></p>
    <div id="container">
        <div id="content">
            <div class="msg">
                <span class="name">Pecu</span>
                Hello,Class! this is what ul do!
                <ul>
                    <li>BE</li>
                    <li>THE</li>
                    <li>BEST</li>
                </ul>
            </div>
            <div class="msg">
                <span class="name">Michael</span>
                    Hello! And this is what ol do!
                <ol>
                    <li>AND</li>
                    <li>THE</li>
                    <LI>PROUDEST</LI>
                </ol>      
            </div>
        </div>
        <div id="send-box">
            <form id="send-form">
                <input type="text" name="name" id="name" placeholder="暱稱">
                <input type="text" name="msg" id="msg" placeholder="說點什麼？">
                <input type="submit" id="submit" value="送出">
            </form>
            
        </div>
    </div>
    <div id = "ps">Ps:格子是假的，無法輸入ＸＤ</div>
    <P Align=center><img url="https://github.com/proud609/helloworld/blob/master/templates/%E7%A9%8D%E5%88%86%E6%94%BB%E5%8B%A2.png"> </p>
</body>

</html>