<!DOCTYPE html>
<html lang="zh">
{% load  staticfiles %}
<head>
    <meta charset="UTF-8">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Week2Example留言板</title>
    <link href="{% static 'css/style.css' %}" rel="stylesheet" type="text/css" />
    
</head>
<body background="{% static 'image/Lovely.png' %}" BGPROPERTIES=FIXED>
    <h1>Hi，this is today what jack what to do</h1>
    <h2>the basic of html and css<br>
        I should be more hard work<br>
        what i've done :<br> 
        1.insert picture of calculus formula<br>
        2.insert background,when it couldn't appear use red as it background color<br> 
        3.changing some attribute in single world with css<br>
    </h2>
    <p id="ta">by劉正宇<br></p>
   <div id="container">
        <div id="content">
            {% for msg in msgs %}
                <div class='msg'>
                    <span class="name">{{msg.talker}}</span>
                    {{msg.message}}
                </div>
            {% endfor %}
        </div>
    <form action="" method="post">   
                <input id="user" type="text" name="user" placeholder="暱稱">    
                <input id="content" type="text" name="content" placeholder="說點什麼？">
                <input type="hidden" name="ok" value="yes">
                <input type="submit" id="submit" value="送出">         
    </div>
    <P Align=center><img src={% static 'image/formula.png' %}> </p>
</body>

</html>