<!DOCTYPE html>
<html lang="zh">
{% load  staticfiles %}
<head>
    <title>Login</title>
    <meta charset="UTF-8">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
<!--===============================================================================================-->  
    <link rel="icon" type="image/png" href="../stylee/images/icons/favicon.ico"/>
<!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="../stylee/vendor/bootstrap/css/bootstrap.min.css">
<!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="../stylee/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
<!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="../stylee/fonts/iconic/css/material-design-iconic-font.min.css">
<!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="../stylee/vendor/animate/animate.css">
<!--===============================================================================================-->  
    <link rel="stylesheet" type="text/css" href="../stylee/vendor/css-hamburgers/hamburgers.min.css">
<!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="../stylee/vendor/animsition/css/animsition.min.css">
<!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="../stylee/vendor/select2/select2.min.css">
<!--===============================================================================================-->  
    <link rel="stylesheet" type="text/css" href="../stylee/vendor/daterangepicker/daterangepicker.css">
<!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="../stylee/css/util.css">
    <link rel="stylesheet" type="text/css" href="../stylee/css/main.css">
<!--===============================================================================================-->
</head>
<body>
    
    <div class="limiter">
        <div class="container-login100" style="background-image: url('../stylee/images/bg-01.jpg');">
            <div class="wrap-login100">
                <form action="" method="post" class="login100-form validate-form">
                
                   <div>
            <label class="wrap-input100 validate-input" for="username">用戶名稱:</label>
            <input class="input100" type="text" name="username" value="" id="username">
            <span class="focus-input100" data-placeholder="&#xf207;"></span>
         </div>
         <div>
            <label class="wrap-input100 validate-input" for="password">用戶密碼:</label>
            <input  class="input100" type="password" name="password" value="" id="password">
            <span class="focus-input100" data-placeholder="&#xf191;"></span>
            </div>
             <div class="container-login100-form-btn">
                        <button type="submit" onclick="location.href" class="login100-form-btn">
                            登入
                        </button>
                    </div>
 
                </form>
            </div>
        </div>
    </div>
    

    <div id="dropDownSelect1"></div>
    
<!--===============================================================================================-->
   <script src="../stylee/vendor/jquery/jquery-3.2.1.min.js"></script>
<!--===============================================================================================-->
    <script src="../stylee/vendor/animsition/js/animsition.min.js"></script>
<!--===============================================================================================-->
    <script src="../stylee/vendor/bootstrap/js/popper.js"></script>
    <script src="../stylee/vendor/bootstrap/js/bootstrap.min.js"></script>
<!--===============================================================================================-->
    <script src="../stylee/vendor/select2/select2.min.js"></script>
<!--===============================================================================================-->
    <script src="../stylee/vendor/daterangepicker/moment.min.js"></script>
    <script src="../stylee/vendor/daterangepicker/daterangepicker.js"></script>
<!--===============================================================================================-->
    <script src="../stylee/vendor/countdowntime/countdowntime.js"></script>
<!--===============================================================================================-->
    <script src="../stylee/js/main.js"></script>

</body>
</html>