<!DOCTYPE html>
<html lang="en">
{% load  staticfiles %}
<head>
   
    <meta charset="UTF-8">
    <title>login</title>

    <meta name="viewport" content="width=device-width, initial-scale=1">
<!--===============================================================================================-->  
<link rel="icon" type="image/png" href="{% stylee 'images/icons/favicon.ico' % }">
<!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="{% static 'stylee/vendor/bootstrap/css/bootstrap.min.css' %}">
<!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="{% static 'stylee/fonts/font-awesome-4.7.0/css/font-awesome.min.css' %} ">
<!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="{% static 'stylee/fonts/iconic/css/material-design-iconic-font.min.css' %}">
<!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="{% static 'stylee/vendor/animate/animate.css' %}">
<!--===============================================================================================-->  
    <link rel="stylesheet" type="text/css" href="{% static 'stylee/vendor/css-hamburgers/hamburgers.min.css' %}">
<!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="{% static 'stylee/vendor/animsition/css/animsition.min.css' %}">
<!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="{% static 'stylee/vendor/select2/select2.min.css' %}">
<!--===============================================================================================-->  
    <link rel="stylesheet" type="text/css" href="{% static 'stylee/vendor/daterangepicker/daterangepicker.css ' %}">
<!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="{% static 'stylee/css/util.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'stylee/css/main.css' %}">
<!--===============================================================================================-->
</head>
<body>
    
<div class="limiter">
        <div class="container-login100" style="background-image: url('{% static 'stylee/images/bg-01.jpg' %}');">
            <div class="wrap-login10">
                <form class="login100-form validate-form" action="" method="post">
    <iframe width="560" height="315" src="https://www.youtube.com/embed/fJn5mYyR0RQ" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

                    <div class="container-login100-form-btn">
                        <input type="button"  class="login100-form-btn" value="返回" onclick="location.href='/index'">
                    </div>

                </form>
            </div>
        </div>
    </div>

    <div id="dropDownSelect1"></div>
    
<!--===============================================================================================-->
    <script src="{% static 'stylee/vendor/jquery/jquery-3.2.1.min.js' %}"></script>
<!--===============================================================================================-->
    <script src="{% static 'stylee/vendor/animsition/js/animsition.min.js' %}"></script>
<!--===============================================================================================-->
    <script src="{% static 'stylee/vendor/bootstrap/js/popper.js' %}"></script>
    <script src="{% static 'stylee/vendor/bootstrap/js/bootstrap.min.js' %}"></script>
<!--===============================================================================================-->
    <script src="{% static 'stylee/vendor/select2/select2.min.js' %}"></script>
<!--===============================================================================================-->
    <script src="{% static 'stylee/vendor/daterangepicker/moment.min.js' %}"></script>
    <script src="{% static 'stylee/vendor/daterangepicker/daterangepicker.js' %}"></script>
<!--===============================================================================================-->
    <script src="{% static 'stylee/vendor/countdowntime/countdowntime.js' %}"></script>
<!--===============================================================================================-->
    <script src="{% static 'stylee/js/main.js' %}"></script>
    </body>

</html>